.container {
  padding: 1rem 2rem;
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.tasklistTitle {
  font-size: 4rem;
  text-align: center;
}

.taskList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
